body{
    margin: 0;
    padding: 0;
    background-color: #18191D;
    color: white;
    font-family: 'Rubik', sans-serif;

}

.light-mode {
    background-color: white;
    color: black;
  }
.light-nav{
    background-color:white !important;
}
.dark-link{
   color: black;
}
.navbar{
    background-color: #18191D;
} 
*{
    box-sizing: border-box;

}
a{
    color: white;
    text-decoration: none;
}
.fa-long-arrow-alt-right{
    font-size: 40px;
    margin-left: 1.7rem;
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

}
h3{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px
}
h2{
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;

}
.fa-bars{
    color: white;
}
.dark-light{
    text-decoration: none;
    border: 1px solid white ;
    padding: .7rem;
    background-color: unset;
    color: white;
}
.light-btn{
    color: black !important;
    border: 1px solid black !important ;
}
.fab{
    font-size: 40px;
    cursor: pointer;
    color: white;
}
.nav-link{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
}
.index{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    background-color: unset;
    padding: .6rem 1.2rem;
    border: 1px solid white;
    cursor: pointer;
}
.light-index{
    border: 1px solid black;
}
.light-index:hover{
     background-color: black !important;
     color: white !important;
}
.index:hover{
    background-color: white;
    color: black;
}
/* header hero */
.header-hero{
    height: 916px;
    padding: 0;
    position: relative;
}
.img-container{
    width: 100%;
    height: 100%;
    background: url('../img/header-hero.png') center no-repeat;
    background-size: cover;
}
.header-text{
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    position: absolute;
    top: 43%;
    left: 3.8rem;
    width: 70%;

}
/* About me section */ 
.about-me{
    margin: 10rem auto;
}
/* Portfolioo */
.portfolio img{
    margin: .3rem;
}
.card{
    background-color:unset;
    border: none;
}
.card .card-text{
    font-size: 20px;
    line-height: 24px;
}
/*  services  */
.services{
    margin: 10rem auto;


}
.services-img-container{
    margin: .8rem auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
}
.services-img-container img{
    opacity: .9;
}
.services-img-container h3{
    position: absolute;
    bottom: 15%;
    left: 35%;
}
footer{
    background-color: #18191D;
}
.blog , .contact{
    margin: 10rem auto;
}
@media only screen and (min-width:768px){
  .navbar{
      position: unset ;
  
  }  
}
@media only screen and (max-width:768px){
    .header-hero{
        max-height: 575px;
    
    }  
    .header-text{
        font-size: 25px;
        line-height: 30px;
        width: 83%;
        left: 1.5rem;
    }
    .services-img-container h3{
        position: absolute;
        bottom: 15%;
        left: 12%;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }
    h3{
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }
    h2{
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
    }
    .fa-long-arrow-alt-right{
        font-size: 25px;
        margin-left: 1.5rem;
    }
    .nav-link{
        font-size: 16px;
        line-height: 28px;
    }
    .navbar-nav{
        width: 100% !important;
    }
  }
